html {
    background-color: rgba(255, 235, 243, 0.3);
    height: 100vw;
    position: relative;
    cursor: url(totoro.png) 2 2, auto;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    left: 5vw;
    top: 5vw;
    width: 200px;
    height: 200px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: pink;
    box-shadow: 5px 5px 8px 10px rgba(255, 173, 206);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    
}

.sidebar img {
    border-radius: 50px;
}

.musicplayer {
    position: absolute;
    top: 150px;
    left: calc(calc(200px + 5vw) * 1.75);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(255, 224, 224);
    box-shadow: 5px 5px 8px 10px rgb(255, 224, 224);
}

.musicplayer iframe {
    width: 600px;
    height: 450px;
    opacity: 0.8;
}


