@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

html {
    background-color: rgba(255, 235, 243, 0.3);
    height: 100vw;
    position: relative;
    cursor: url(totoro.png) 2 2, auto;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 200px;
    height: 200px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: pink;
    box-shadow: 5px 5px 8px 10px rgba(255, 173, 206);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;
    
}

.sidebar img {
    border-radius: 50px;
}

.movieRecommender {
    position: absolute;
    top: calc(5vh + 200px + 10vh);
    left: calc(5vw + 100px - 4vw + 20px);
    width: 8vw;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movieRecommender button {
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'Karla', sans-serif;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(240, 160, 233, 0.6);
    border-width: 1px;
    box-shadow: 3px 3px 5px 7px rgba(240, 160, 233, 0.6);
}

.movieRecommender button:hover {
    cursor: pointer;
}

.moviePopup {
    display: none;
    position: fixed;
    z-index: 1;
    width: 8vw;
    margin-top: 50px;
}

.popupContent {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(255, 218, 223);
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.popupContent button {
    box-shadow: none;
}


.musicplayer {
    position: absolute;
    top: 150px;
    left: calc(calc(200px + 5vw) * 1.75);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(255, 224, 224);
    box-shadow: 5px 5px 8px 10px rgb(255, 224, 224);
}

.musicplayer iframe {
    width: 600px;
    height: 450px;
    opacity: 0.8;
}


